#!/usr/bin/make -f
DEST_DIR=$(CURDIR)/debian/openstack-neutron/

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	# Install the whole virtualenv folder in package
	mkdir -p $(DEST_DIR)/opt/openstack/
	cp -ar /opt/openstack/neutron/ $(DEST_DIR)/opt/openstack/

# Save some time
override_dh_strip_nondeterminism:
